<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
    <title>Prediksi Calon Siswa SMAN 3 Malang</title>
  </head>
  <body>
    <div class="">
      <form>
        Bahasa Indonesia:<br>
        <input type="number" placeholder="Nilai UN Bahasa Indonesia">
        <br><br>
        Bahasa Inggris:<br>
        <input type="number" placeholder="Nilai UN Bahasa Inggris">
        <br><br>
        Matematika:<br>
        <input type="number" placeholder="Nilai UN Matematika">
        <br><br>
        IPA:<br>
        <input type="number" placeholder="Nilai UN IPA">
        <br><br>
        <input type="Submit" value="Submit">
        <input type="reset">
      </form>
    </div>
  </body>
</html>
